
<% provide(:title, @product.product_name) %>
    <h1>Product:
        <%= @product.product_name %>
    </h1>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <p>
                    <%= @product.description %>
                </p>
                <p>Units Available:
                    <%= @product.quantity %>
                        <br> Seller:
                        <%= @seller.first_name%>
                            <%= @seller.last_name%>
                                <br> Price: $
                                <%= @product.price%>/item
                                    <br> Local Delivery Available?
                                    <% unless @product.local %>
                                        No
                                        <% else %>
                                            Yes
                                            <% end %>
                  <%= image_tag @product.picture.url if @product.picture? %>

                </p>
            </section>
        </aside>
        <div class="col-md-8">
            <button type="button" class="btn btn-primary">
                <%= "Add to Order" %>
            </button>
        <% unless @seller.id != current_user.id%>
                <%= link_to "Delete", @product, class: "btn btn-danger", method: :delete,
                data: { confirm: "Are you sure you want to delete #{@product.product_name}?"}%></p>
                <% end %>

        </div>
    </div>
