
<% provide(:title, @product.product_name) %>
    <h1>
        <%= @product.product_name %>
    </h1>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <p><b>Description:</b>
                    <%=  @product.description %> <br>
                <b>Units Available:</b>
                    <%= @product.quantity %>
                        <br> <b>Seller:</b>
                        <%= @seller.first_name%>
                            <%= @seller.last_name%>
                                <br> <b>Price:</b>
                                <%= "$#{@product.price}" %>/item
                                    <br> <b>Local Delivery Available?</b>
                                    <% unless @product.local %>
                                        No
                                        <% else %>
                                            Yes
                                            <% end %> <br> <br>
                  <%= image_tag @product.picture.url if @product.picture? %>

                </p>
            </section>
        </aside>
      <br>
        <div class="col-md-8">
            <button type="button" class="btn btn-primary">
                <%= "Add to Order" %>
            </button>
        <% unless @seller.id != current_user.id%>
                <%= link_to "Delete", @product, class: "btn btn-danger", method: :delete,
                data: { confirm: "Are you sure you want to delete #{@product.product_name}?"}%></p>
                <% end %>

        </div>
    </div>
