<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BANGAZON", root_path, id: "logo" %>
    <% if logged_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Shop <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%=	 link_to "Product Categories", '/categories' %></li>
              <li><%= link_to 'Find Local Items', '/local'%></li>
            </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Sell <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><%= link_to "My Products", myproducts_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sell It!", createproduct_path %></li>

            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><%= link_to "My Profile", profile_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Settings", "users/#{current_user.id}/edit" %></li>
                <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
          <li><%=	link_to "Welcome, #{current_user.first_name}!", profile_path %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
